
.header-row {    
    align-items: center;
    grid-column-gap: 10px;
}
header {
    background-color: palevioletred;
    position: sticky;
    top: 0;
    z-index: 10;
}
nav {
    list-style: none;   
    justify-content: center;
    justify-items: center;    
}
nav a {
    text-decoration: none;
    padding-left: 15px;
    color: whitesmoke;
    font-size: 17px;
    font-weight: 600;
}
nav a:hover {
    font-size: 20px;
}
.search-input {
    border: none;
    outline: none;
    background-color: transparent;  
    font-family: 'Fraunces', serif;
    font-size: 16px;
    color: whitesmoke;     
}
::-webkit-input-placeholder {
    color: whitesmoke;
}
.icon-search {   
    border: none;
    background-image: url("img/icon-search-30.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}
.main {
    background-color: whitesmoke;
    background-image: url("img/diament.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-size: 31px;
    font-weight: bold;
    color: palevioletred;
    padding: 15px 0;
    text-align: center;
}
.item-news {
    display: grid;    
    border: 2px solid palevioletred;    
    padding: 10px;
}
[class*="new-"] {
    background-repeat: no-repeat;
    background-position: center;    
    background-size: cover; 
    transition: 1.5s ease-in-out 0s;   
}
[class*="news-"] > a {
   cursor: pointer; 
   color:palevioletred;
   border-top: palevioletred 1px solid;
   border-bottom: palevioletred 1px solid; 
   transition: color 2s ease-in-out;   
}
[class*="news-"]:hover > a {
    color:#8d8b89; 
    transform: scale(1.05);    
    transition: 1.5s ease-in-out 0s;
}
[class*="news-"]:hover > [class*="new-"], [class*="block-f-"]:hover > [class*="fashion-photo-"] {
   filter: grayscale(90%);
   transform: scale(1.03);
}
.new-block-1 {
    background-image: url(img/fashion\ week.jpg);
}
.new-block-2 {
    background-image: url("img/manfashion.jpg");    
}
.man-text {
    font-size: 17px;
    text-align: center;
    color:palevioletred;
    border-top: palevioletred 1px solid;
    border-bottom: palevioletred 1px solid;    
}
.new-block-3 {
    background-image: url("img/mirandastyle-1.jpg");
}
.new-block-4 {
    background-image: url("img/makeup.png");
}
.news-6 {  
    cursor: pointer;
}
.news-5 {
    background-image: url("img/EmmaCorin.jpeg");    
    justify-content: end;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover; 
    transition: 1s ease-in-out;      
}
.news-5:hover, .news-6:hover {
    filter: grayscale(90%); 
    transform: scale(1.03);  
}
.title-style {
    color:palevioletred;
    padding: 0 7px; 
    line-height: 1.5; 
    align-self: center;   
    text-align: center;
    border-top: palevioletred 1px solid;
    border-bottom: palevioletred 1px solid;
}
.text-makeup {
    font-size: 17px;
    text-align: center;
    line-height: 1.1;
}
.text-emma {   
    font-size: 20px;    
    padding: 15px 20px 0;
    color: palevioletred;
    line-height: 1.2;
    margin-top: 5px;  
}
[class*="star-blocks-"] > .learnmore-btn {
    position: relative;  
}
[class*="star-blocks-"] {    
    background-color: rgba(218, 155, 176, 0.842);
    transition-duration: 1.5s; 
    border: 2px solid rgba(218, 155, 176, 0.842); 
}
[class*='star-blocks-']:hover {
    background-color: #a3a2a2a1;
    opacity: 0.8;  
    transition: #a7a6a665 0.7s ease-in-out;  
}
[class*="photo-star-"] {    
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: whitesmoke;       
}
.photo-star-GalGadot {
    background-image: url("img/GalGadot.png");
}
.photo-star-DiCaprio {
    background-image: url("img/DiCaprio.png");
}
.photo-star-LadyGaga {
    background-image: url("img/LadyGaga.png");
}
.photo-star-BrunoMars {
    background-image: url("img/BrunoMars.png");
}
.photo-star-AdrianaLima {
    background-image: url("img/lima.png");
}
.star-title {
    font-size: 23px;
    padding: 19px 0;
}
.name-star {
    display: inline-grid;
    row-gap: 10px;
    justify-items: center;
    align-items: center;    
    color: rgb(100, 100, 100);
}
.name {
    padding: 0 5px 5px;
    text-align: center;
    line-height: 1.3;
}
.learnmore-btn {
    display: none;
    justify-self: center;
    top: -2839%;
    align-self: center; 
    transition: 2s ease-in-out 0s; 
}
[class*=star-blocks-]:hover > .learnmore-btn {
    display: block;
    transform: scale(1.2);    
}
[class*="fashion-photo-"] {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 2s ease-in-out 0s; 
}
.fashion-photo-1 {
    background-image: url("img/sexist.jpg");
}
.fashion-photo-2 {
    background-image: url("img/CamilleMiceliHome.jpg");
}
.fashion-photo-3 {
    background-image: url("img/Fendi_KM.jpg");
}
.fashion-photo-4 {
    background-image: url("img/RichWomen.jpg" );
}
.fashion-block {  
    padding: 10px;
    border: palevioletred 2px solid;
}
.fashion-text {    
    font-weight: 400;
    line-height: 1.6;
    color: palevioletred;
    align-self: end;
    text-decoration: none; 
    justify-self: end;
    border-top: 1px solid palevioletred;   
    border-bottom: 1px solid palevioletred; 
    background-color: rgba(228, 128, 186, 0.267);
    transition: 1s ease-in-out 0s;     
}
.pad-text {
    padding-left: 20px;      
}
[class*="block-f-"]:hover > a {
    transform: scale(1);
    font-weight: bold;
    transition: 2s ease-in-out 0s; 
    color:#858383f1; 
}
.slider {
    background-image: url("img/Tiffany+&+Co.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 350px;
}
.footer {
    margin-top: 30px;
    background-color: palevioletred;
}
